@model PinkedIn.Point.Labussiere.Modele.Entity.Postulation

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer la postulation</h2>

<h3>Etes vous sûr de vouloir supprimer la postulation ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employe.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offre.Intitule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offre.Intitule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Retourner à la liste", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
