@model PinkedIn.Point.Labussiere.Modele.Entity.Employe

@{
    ViewBag.Title = "Details";
}

<h2>Détail de l'employé</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="mt-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt class="mt-2">
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt class="mt-2">
            Date de naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeNaissance)
        </dd>

        <dt class="mt-2">
            Ancienneté (en années)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anciennete)
        </dd>

        <dt class="mt-2">
            @Html.DisplayNameFor(model => model.Biographie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biographie)
        </dd>
        <dt class="mt-2">
            @Html.DisplayNameFor(model => model.Experiences)
        </dt>
        <table class="table">
            <tr>
                <th>
                    Intitulé
                </th>
                <th>
                    Date
                </th>
            </tr>
            @foreach (var item in Model?.Experiences)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intitule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Ajouter une experience", "AddExperience", new { id = Model.Id }, null, new { @class = "btn btn-outline-dark" })
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, null, new { @class = "btn btn-outline-dark" }) |
    @Html.ActionLink("Retourner à la liste", "Index", null, new { @class = "btn btn-outline-dark" })
</p>
