@model PinkedIn.Point.Labussiere.Modele.Entity.Employe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            Date de naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeNaissance)
        </dd>

        <dt>
            Ancienneté (en années)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anciennete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biographie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biographie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experiences)
        </dt>
        <table class="table">
            <tr>
                <th>
                    Intitulé
                </th>
                <th>
                    Date
                </th>
            </tr>
            @foreach (var item in Model?.Experiences)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intitule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Ajouter une experience", "AddExperience", new { id = Model.Id }) |
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retourner à la liste", "Index")
</p>
