@model IEnumerable<PinkedIn.Point.Labussiere.Modele.Entity.Offre>

@{
    ViewBag.Title = "Toutes les offres";
}

<h2>Toutes les offres</h2>

<p>
    @Html.ActionLink("Ajouter une offre", "Create", null, new { @class = "btn btn-outline-dark" })
</p>
<form asp-controller="OffresController" asp-action="Index" method="post" class="mb-2">
    <input type="text" name="offreSearch"/>
    <input type="submit" class="btn btn-outline-dark"/>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Intitule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Intitule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.Id }, new { @class = "btn btn-outline-dark" })
            @Html.ActionLink("Voir détails", "Details", new { id=item.Id }, new { @class = "btn btn-outline-dark" })
            @Html.ActionLink("Supprimer", "Delete", new { id=item.Id }, new { @class = "btn btn-outline-dark" })
        </td>
    </tr>
}

</table>
